# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Database
data/database.db

# Session
data/session.json

# Logs
logs/app.log
logs/errors.log

# Build
build/
dist/

# VSCode
.vscode/

# PyInstaller
*.spec